#/
# @license BSD-3-Clause
#
# Copyright (c) 2019 Quansight. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice, this
#    list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its
#    contributors may be used to endorse or promote products derived from
#    this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
# FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
# OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#/

# EditorConfig configuration file (see <http://editorconfig.org/>).

# Indicate that this file is a root-level configuration file:
root = true

# Set properties for all files:
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Set properties for JavaScript files:
[*.js]
indent_style = tab

# Set properties for TypeScript files:
[*.ts]
indent_style = tab

# Set properties for TSX files:
[*.tsx]
indent_style = tab

# Set properties for Python files:
[*.py]
indent_style = space
indent_size = 4

# Set properties for Julia files:
[*.jl]
indent_style = tab

# Set properties for R files:
[*.R]
indent_style = tab

# Set properties for C files:
[*.c]
indent_style = tab

# Set properties for C header files:
[*.h]
indent_style = tab

# Set properties for C++ files:
[*.cpp]
indent_style = tab

# Set properties for C++ header files:
[*.hpp]
indent_style = tab

# Set properties for Fortran files:
[*.f]
indent_style = space
indent_size = 2
insert_final_newline = false

# Set properties for shell files:
[*.sh]
indent_style = tab

# Set properties for AWK files:
[*.awk]
indent_style = tab

# Set properties for HTML files:
[*.html]
indent_style = tab
tab_width = 2

# Set properties for CSS files:
[*.css]
indent_style = tab

# Set properties for Makefiles:
[Makefile]
indent_style = tab

[*.mk]
indent_style = tab

# Set properties for Markdown files:
[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

# Set properties for `package.json` files:
[package.json]
indent_style = space
indent_size = 2

# Set properties for `datapackage.json` files:
[datapackage.json]
indent_style = space
indent_size = 2

# Set properties for `tslint.json` files:
[tslint.json]
indent_style = space
indent_size = 2

# Set properties for `tsconfig.json` files:
[tsconfig.json]
indent_style = space
indent_size = 2

# Set properties for LaTeX files:
[*.tex]
indent_style = tab

# Set properties for LaTeX Bibliography files:
[*.bib]
indent_style = tab

# Set properties for YAML files:
[*.yml]
indent_style = space
indent_size = 2
